<div class="row m-auto" style="width:90%;">
    <div class="col-sm-4 card p-3 my-4 ">
        <div class="card p-2 bg-dark text-light ">
            <h3 class="user text-center">{{user.name}}</h3>

            <ul class="list-group-item  text-center">
                <h4 class="text-secondary d-inline mb-1">Online</h4>
                <i class="fas fa-circle text-success"></i>
                <div class="side mt-2"></div>

                <hr>

            </ul>

        </div>

    </div>
    <div class="col-sm-8">
        <div class="card  bg-secondary mx-1 p-3 mt-1 topBar ">
            <div class="text-white">
                <h3 class="
                d-inline ">VChat</h3>
                <span class="float-right">
                    <i class="fas fa-user p-2"></i>

                    <i class="fas fa-cog"></i>
                </span>

            </div>

        </div>

        <div class="card  bg-secondary mx-1 p-3 mt-1 topBarChat " style="display:none">
            <div class="text-white">
                <h5 class="
                d-inline userChat"></h5>
                <i class="fas fa-user p-2"></i>
                <span class="float-right">
                    <i class="fas fa-ellipsis-v"></i>



                </span>

            </div>

        </div>
        <div class="main-chat" style="display:none">
            <div class="chat-window card p-3 my-4"
                style="height:70vh; background-color:rgb(244, 255, 253); overflow-y:scroll"></div>
            <div class=" row  p-3 ml-1" style="background-color: rgb(87, 87, 87)">
                <div class="col-11 p-0">

                    <input type="text" class="form-control message" placeholder="Your message">
                </div>
                <div class="col-1 m-0 p-0">
                    <i class="fas fa-arrow-circle-right fa-2x ml-2 mt-1 text-light submit"></i>

                </div>
            </div>

        </div>

        <div class="mainShow" style="display:block">
            <div class="chat-window card p-3 my-4" style="height:70vh; background-color:rgb(244, 255, 253); 
            ">
                <h1 class="text-center text-dark display-3">WELCOME TO CHAT APP
                    <br>
                    <i class="far fa-comment-dots"></i>
                </h1>
                <h2 class="text-secondary text-center">Enjoy, Send Quick Messages</h2>
            </div>


        </div>

    </div>
</div>