<div class=" m-auto p-2 mt-4" style="width:60%">

    <div class="card p-3 mt-4">
        <h1 class="display-3">VChat</h1>
        <hr>
        <h3>Login</h3>
        <hr>
        <form action="/chat" class="form-group" method='post'>
            <input type="text" class="my-1 form-control" placeholder="Email">
            <input type="text" class="my-1 form-control" placeholder="Password">
            <button class="btn btn-success my-1">Submit</button>
            <br>
            <p class="text-secondary mt-2">Don't have account, then create one <span> <a href="/signUp">click
                        here</a></span>
            </p>


        </form>


    </div>


</div>