<div class="container mt-4 m-auto" style="width:60%">
    <div class="card p-3 my-4">
        <h1 class="display-3">VChat</h1>
        <hr>
        <h3>Sign-up</h3>
        <hr>
        <form action="/chat" class="form-group" method='post'>

            <input type="text" class="form-control my-1" placeholder="Name" name='name'>
            <input type="email" class="form-control my-1" placeholder="Email" name="email">
            <input type="password" class="form-control my-1" placeholder="Password" name="password">
            <hr>
            <button class="btn btn-success" type="submit">
                Submit
            </button>
            <p class="text-secondary mt-2">Already have an account<span> <a href="/login">click
                        here</a></span>
            </p>

        </form>
    </div>

</div>